header {
  position: absolute;
  display: flex;
  height: 4rem;
  width: 100%;

  > A,
  > button {
    display: flex;
    width: 10rem;
    min-width: 7.5rem;

    justify-content: center;
    align-items: center;

    color: var(--text);
    text-decoration: none;
    text-decoration-color: transparent;
    text-transform: capitalize;

    transition: all 0.25s;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
      text-decoration-color: var(--secondary);
      text-underline-offset: 0.55rem;
      text-decoration-thickness: 0.2rem;
    }

    &:active {
      text-decoration-color: var(--accent-active);
      transition: all 0s;
    }
  }

  > a:first-of-type {
    width: 12rem;

    & > img {
      padding: 1rem;
    }

    &:hover,
    &:focus-visible {
      filter: brightness(85%);
    }

    &:active {
      transition: all 0s;
      filter: brightness(60%);
    }
  }

  > a.user {
    margin-left: auto;
    padding: 0 0rem 0 4rem;

    cursor: pointer;
    font: inherit;
    background-color: var(--accent);

    border: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 4rem 100%);

    color: black;

    &:hover,
    &:focus-visible {
      background-color: var(--secondary);

      padding-left: 5rem;
      padding-right: 1rem;

      text-decoration: none;
    }

    &:active {
      background-color: var(--accent-active);
    }
  }
}

.indicator {
  position: absolute;
  top: calc(50% + 1rem);
  height: 0.2rem;

  background-color: var(--accent);
  opacity: 0;

  transition: all 0.2s;
}
