@import './globals.scss';

.Header {
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;

    border-bottom: 1px $line solid;

    animation: enter 0.5s forwards;

    :last-child {
        margin-left: auto;
    }

    A {
        display: flex;
        height: 100%;
        width: 10rem;
        box-sizing: border-box;

        justify-content: center;
        align-items: center;

        opacity: 0;
        color: $text;
        text-decoration: none;
        filter: brightness(100%);

        animation: intro 0.1s forwards calc(0.1s + 0.1s * var(--i));
        transition: all 0.25s;

        &:hover {
            filter: brightness(70%);
        }
    }

    @keyframes intro {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@keyframes enter {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.Indicator {
    --l: 0px;
    --w: 0px;

    position: absolute;
    left: var(--l);
    height: 1.5rem;
    width: var(--w);

    border-bottom: 1px $text solid;

    transition: left 0.25s, width 0.25s;
}
