@import url('./globals.css');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

body {
  margin: 0;

  font-family: 'Lexend', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

main {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  background-color: var(--panel);
  backdrop-filter: blur(0.1rem);
}
